<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader">
    <meta charset="utf-8" />
    <title>Yummy</title>

    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/static/css/font-awesome-ie7.min.css}" />

    <link rel="stylesheet" th:href="@{/static/css/ace.min.css}" />
    <link rel="stylesheet" th:href="@{/static/css/ace-rtl.min.css}" />
    <link rel="stylesheet" th:href="@{/static/css/ace-skins.min.css}" />
    <link rel="stylesheet" th:href="@{/static/css/ace-ie.min.css}" />
    <script th:src="@{/static/js/ace-extra.min.js}"></script>
    <script th:src="@{/static/js/html5shiv.js}"></script>
    <script th:src="@{/static/js/respond.min.js}"></script>
</head>

<body>
<div th:fragment="commonNavBar" class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
                    Yummy Restaurant
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="purple">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-bell-alt icon-animated-bell"></i>
                        <span class="badge badge-important">8</span>
                    </a>

                    <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="icon-warning-sign"></i>
                            8 Notifications
                        </li>

                        <li>
                            <a href="#">
                                <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-pink icon-comment"></i>
												New Comments
											</span>
                                    <span class="pull-right badge badge-info">+12</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
												New Orders
											</span>
                                    <span class="pull-right badge badge-success">+8</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                See all notifications
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="green">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-envelope icon-animated-vertical"></i>
                        <span class="badge badge-success">5</span>
                    </a>

                    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="icon-envelope-alt"></i>
                            5 Messages
                        </li>

                        <li>
                            <a href="#">
                                <img th:src="@{/static/avatars/avatar.png}" class="msg-photo" alt="Alex's Avatar" />
                                <span class="msg-body">
											<span class="msg-title">
												<span class="blue">Alex:</span>
												Ciao sociis natoque penatibus et auctor ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>a moment ago</span>
											</span>
										</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img th:src="@{/static/avatars/avatar3.png}" class="msg-photo" alt="Susan's Avatar" />
                                <span class="msg-body">
											<span class="msg-title">
												<span class="blue">Susan:</span>
												Vestibulum id ligula porta felis euismod ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>20 minutes ago</span>
											</span>
										</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img th:src="@{/static/avatars/avatar4.png}" class="msg-photo" alt="Bob's Avatar" />
                                <span class="msg-body">
											<span class="msg-title">
												<span class="blue">Bob:</span>
												Nullam quis risus eget urna mollis ornare ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>3:15 pm</span>
											</span>
										</span>
                            </a>
                        </li>

                        <li>
                            <a href="inbox.html">
                                See all messages
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" th:src="@{/static/avatars/user.jpg}" alt="Jason's Photo" />
                        <span class="user-info">
									<small>Welcome,</small>
									<span th:text="${#session.getAttribute('userName')}">Jason</span>
								</span>

                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                Settings
                            </a>
                        </li>

                        <li>
                            <a href="/yummy/rstInfo">
                                <i class="icon-user"></i>
                                Profile
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="#" onclick="logout()">
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div th:fragment="commonNav(active)" class="sidebar" id="sidebar">
            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="icon-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="icon-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="icon-group"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="icon-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- #sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li th:class="${active}=='rstHome'?'active open':''">
                    <a href="/yummy/rstHome">
                        <i class="icon-home"></i>
                        <span class="menu-text"> 主页 </span>
                    </a>
                </li>

                <li th:class="${active}=='rstInfo'?'active open':''">
                    <a href="/yummy/rstInfo">
                        <i class="icon-building"></i>
                        <span class="menu-text"> 餐厅信息 </span>
                    </a>
                </li>

                <li th:class="${active}=='rstMenu'?'active open':''">
                    <a href="/yummy/rstMenu">
                        <i class="icon-shopping-cart"></i>
                        <span class="menu-text"> 发布菜单 </span>
                    </a>
                </li>

                <li th:class="${active}=='rstOrderList'?'active open':''">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-desktop"></i>
                        <span class="menu-text"> 餐厅订单 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/yummy/rstOrderListPaid">
                                <i class="icon-double-angle-right"></i>
                                进行中
                            </a>
                        </li>
                        <li>
                            <a href="/yummy/rstOrderListCompleted">
                                <i class="icon-double-angle-right"></i>
                                已完成
                            </a>
                        </li>
                        <li>
                            <a href="/yummy/rstOrderListReturned">
                                <i class="icon-double-angle-right"></i>
                                已退订
                            </a>
                        </li>
                    </ul>
                </li>

                <li th:class="${active}=='rstStatistics'?'active open':''">
                    <a href="/yummy/rstStatistics">
                        <i class="icon-bar-chart"></i>
                        <span class="menu-text"> 统计 </span>
                    </a>
                </li>
            </ul><!-- /.nav-list -->

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
            </script>
        </div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        Home
                    </li>
                </ul><!-- .breadcrumb -->

            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<footer th:fragment="commonFooter">
    <script type="text/javascript"   th:src="@{/static/js/jquery-2.0.3.min.js}"></script>
    <script type="text/javascript">
        if("ontouchend" in document) document.write("<script src='/static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script th:src="@{/static/js/jquery.validate.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/typeahead-bs2.min.js}"></script>
    <script th:src="@{/static/js/ace-elements.min.js}"></script>
    <script th:src="@{/static/js/ace.min.js}"></script>
    <script th:src="@{/static/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/js/jquery.dataTables.bootstrap.js}"></script>
    <script th:src="@{/static/js/bootbox.min.js}"></script>
    <script>
        var basePath = "http:\/\/localhost:8080\/yummy";
        function logout(){
            $.ajax({
                type: 'POST',
                url: "/yummy/loginAndRegister/rstLogout",
                success:function(result) {
                    window.location.href="/yummy/rstLogin";
                },
                error: function (result) {
                    bootbox.alert("error!");
                }
            });
        }
    </script>
<!-- inline scripts related to this page -->
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</footer>
</body>
</html>

