<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript"   th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <title>Title</title>
</head>
<body>
<h1>YUMMY-Restaurant-Info</h1>
<div th:object="${restaurant}">
    <ul>
        <li>
            <label for="id">账号:</label>
            <input th:value="*{id}" id="id" type="text" readonly/>
        </li>
        <li>
            <label for="password">密码:</label>
            <input th:value="*{password}" id="password" type="password"/>
        </li>
        <li>
            <label for="name">店名:</label>
            <input th:value="*{name}" id="name" type="text"/>
        </li>
        <li>
            <label for="type">类型:</label>
            <input th:value="*{type}" id="type" type="text"/>
        </li>
        <li>
            <label for="phone">电话:</label>
            <input th:value="*{phone}" id="phone" type="text" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();"/>
        </li>
        <li>
            <label for="address">地址:</label>
            <input th:value="*{address}" id="address" type="text"/>
        </li>
    </ul>
    <button id="submit">保存</button>
</div>
</body>
<script th:inline="javascript">
    function Restaurant(id,password,name,type,phone,address){
        this.id=id;
        this.password=password;
        this.name=name;
        this.type=type;
        this.phone=phone;
        this.address=address;
    }
    document.getElementById("submit").onclick=function(){
        var id=document.getElementById("id").value;
        var password=document.getElementById("password").value;
        var name=document.getElementById("name").value;
        var type=document.getElementById("type").value;
        var phone=document.getElementById("phone").value;
        var address=document.getElementById("address").value;
        var pwdPattern = new RegExp(/^[a-z0-9_-]{6,12}$/);
        var phonePattern = new RegExp(/^[0-9]{5,15}$/);
        if(!pwdPattern.test(password)){
            alert("密码必须为6~12位数字、大小写字母、中划线、下划线");
            return;
        }else if(name=='') {
            alert("店名不能为空");
            return;
        }else if(type=='') {
            alert("类型不能为空");
            return;
        }else if(address==''){
            alert("地址不能为空");
            return;
        }else if(!phonePattern.test(phone)){
            alert("电话号码格式错误");
            return;
        }
        var rst=new Restaurant(id,password,name,type,phone,address);
        var basePath = "http:\/\/localhost:8080\/yummy";
        $.ajax({
            type: 'POST',
            url: basePath + "/restaurant/updateRst",
            contentType: "application/json",
            data: JSON.stringify(rst),
            success:function(result) {
                alert("餐厅信息修改申请已提交");
            },
            error: function (result) {
                alert("error!");
            }
        });
    };
</script>
</html>